In [1]:
import pandas as pd
import pandasql as pdsql
import os
pysql = lambda q: pdsql.sqldf(q, globals())
left= pd.read_csv('/home/ishaan/Desktop/cops/missing_val.csv')
#print left.head(5)
right=pd.read_csv('/home/ishaan/Desktop/cops/contains_val.csv')
#print right.head(5)
#rename columns of left to eliminate space from tables
cols = left.columns
cols = cols.map(lambda x: x.replace(' ', '_') if isinstance(x, (str, unicode)) else x)
left.columns = cols
#rename columns of right to eliminate space from tables
cols = right.columns
cols = cols.map(lambda x: x.replace(' ', '_') if isinstance(x, (str, unicode)) else x)
right.columns = cols
left['Survey_Date'] = pd.to_datetime(left['Survey_Date'])
right['Survey_Start_Date'] = pd.to_datetime(right['Survey_Start_Date'])
right['Survey_End_Date'] = pd.to_datetime(right['Survey_End_Date'])

In [2]:
left_small=left
print left_small.head(10)

   Response_No  Tab_No Survey_Date  AC_Name  Mandal_Name  Village_Name
0          202      35  2015-05-24      NaN          NaN           NaN
1          203     400  2015-09-07      NaN          NaN           NaN
2          206     498  2015-10-06      NaN          NaN           NaN
3          206     487  2015-06-13      NaN          NaN           NaN
4          207     455  2015-05-31      NaN          NaN           NaN
5          207     487  2015-06-15      NaN          NaN           NaN
6          208     358  2015-05-20      NaN          NaN           NaN
7          209      60  2015-05-30      NaN          NaN           NaN
8          210     369  2015-05-28      NaN          NaN           NaN
9          212     283  2015-11-06      NaN          NaN           NaN

In [3]:
for index, row in data.iterrows():
    a= row.to_frame()
    ret=right[(right["Tab_No"] ==row["Tab_No"]) & (right["Survey_Start_Date"]<=row["Survey_Date"])&(right["Survey_End_Date"]>=row["Survey_Date"])]
    #if  not ret.empty:
        #left_small.loc[index, 'Village_Name'] =ret["Village_Name"]
    if  not ret.empty:
        left_small.loc[index, 'AC_Name'] =ret.values[0][0]
        left_small.loc[index, 'Mandal_Name'] =ret.values[0][1]
        left_small.loc[index, 'Village_Name'] =ret.values[0][2]
left_small.to_csv('mapped.csv')

In [4]:
print left_small.head(10)

   Response_No  Tab_No Survey_Date       AC_Name      Mandal_Name  \
0          202      35  2015-05-24      Tiruvuru     Vissannapeta
1          203     400  2015-09-07           NaN              NaN
2          206     498  2015-10-06           NaN              NaN
3          206     487  2015-06-13  Jaggaiahpeta  Penuganchiprolu
4          207     455  2015-05-31      Tiruvuru     Gampalagudem
5          207     487  2015-06-15  Jaggaiahpeta  Penuganchiprolu
6          208     358  2015-05-20     Mylavaram        Mylavaram
7          209      60  2015-05-30     Mylavaram    Ibrahimpatnam
8          210     369  2015-05-28     Mylavaram       Reddygudem
9          212     283  2015-11-06           NaN              NaN

      Village_Name
0        Maremanda
1              NaN
2              NaN
3  Penuganchiprolu
4       KOTHAPALLI
5  Penuganchiprolu
6        Pondugala
7    Thummalapalem
8     Moddulaparva
9              NaN